.filter {
    margin: 10px;
    padding-inline: 5px;
}

.inputs {
    margin-block: 20px;
}

.inputs-content {
    margin-block: 10px;
}

.time-pickers {
    text-align: flex;
}

.date-picker {
    display: inline;
    margin-block: auto;
}
.time-picker {
    display: inline;
}

.header-modal {
    background-color: #212630;
    color: white;
}

#modal-title {
    font-size: 2em;
    padding-left: 1em;
}